.navbar{
    height : 5rem;
    background-color: white;
}
.fa-compass{
    color:#fe424d;
    font-size:2rem;
}
.nav-link{
    color:#222 !important;
}
.f-info{
    height : 8rem;
    background-color: #ebebeb;
    display : flex;
    flex-wrap :wrap;
    justify-content: center;
    align-items : center;
}
.f-info-socials{
width:100%;
display : flex;
flex-wrap :wrap;
justify-content: center;
align-items : center;
}
.f-info-links{
    width: 100%;
    display : flex;
    flex-wrap :wrap;
    justify-content: center;
    align-items : center;
}
.f-info-socials i{
    font-size: 1.2rem;
    margin-right : 1rem;
}
.f-info-links a{
    color : #222;
    margin-right : 1rem;
}
.f-info-links a:hover{
    text-decoration : solid black underline;
}
body{
    font-family:monospace !important;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}
.container{
    flex:1;
}
.card{
    border:none !important;
    margin-bottom: 2rem;
    margin:1rem;
}
.card-img-top{
    border-radius: 1rem !important;
    object-fit: cover !important;
}
.row a{
    color :#222 !important;
    text-decoration: none !important;
}
/*overlay effect*/
.card-img-overlay{
    opacity:0;
}
.card-img-overlay:hover{
    opacity:0.2;
    background-color: white;
}
/* show.ejs */
.show{
    height:1rem !important;
}
.card-body{
    display: flex;
    flex-wrap: wrap;
}
.card-body form{
    margin-left: 0.3rem;
}